<div class="container">
  <h2>List Of Order</h2> <!-- 
  <p>The .table-bordered class adds borders to a table:</p>    --> 
  <a class="btn btn-primary" routerLink="addorder" style="color:white;text-decoration:none;">Add Order</a>
  <p></p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Order Id</th>
        <th>Order Address</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>#1234</td>
        <td>Kolkata</td>
        <td>Active</td>
      </tr>
      <tr>
        <td>#8745</td>
        <td>Kolkata</td>
        <td>Active</td>
      </tr>
      <tr>
        <td>#7451</td>
        <td>Delhi</td>
        <td>Delivered</td>
      </tr>
    </tbody>
  </table>
</div>