<div class="container">
	<form [formGroup]="form" class="form-horizontal">
		<div class="form-group" >
	      	<label class="control-label col-sm-2" for="oldpassword">Old Password</label>
		    <div class="col-sm-6">
		        <input type="text" formControlName="oldpassword" class="form-control" id="oldpassword" placeholder="Enter Old Password">
		        <div class="alert alert-danger" *ngIf="oldpassword.touched && oldpassword.invalid">
		    		<div *ngIf="oldpassword.errors.required" >Old Password is required</div>
		    		<div *ngIf="oldpassword.errors.oldpasswordMismatch" >Old Password is matching</div>
		    	</div>
		    </div>
		</div>
		<div class="form-group" >
	      	<label class="control-label col-sm-2" for="newpassword">New Password</label>
		    <div class="col-sm-6">
		        <input type="text" formControlName="newpassword" class="form-control" id="newpassword" placeholder="Enter New Password">
		        <div class="alert alert-danger" *ngIf="newpassword.touched && newpassword.invalid">
		    		<div *ngIf="newpassword.errors.required" >New Password is required</div>
		    	</div>
		    </div>
		</div>
		<div class="form-group" >
	      	<label class="control-label col-sm-2" for="confpassword">Confirm Password</label>
		    <div class="col-sm-6">
		        <input type="text" class="form-control" formControlName="confpassword" id="confpassword" placeholder="Enter Confirm Password">
		        <div class="alert alert-danger" *ngIf="confpassword.touched && confpassword.invalid">
		    		<div *ngIf="confpassword.errors.required">Confirm Password is required</div>
		    		<div *ngIf="confpassword.errors.confirmPassword">Confirm Password is not matching New Password</div>
		    	</div>
		    </div>
		</div>
		<div class="form-group">        
	      	<div class="col-sm-offset-2 col-sm-6">
	        	<button type="submit" class="btn btn-primary">Change Password</button>&nbsp;&nbsp;
	        </div>
    	</div>
	</form>
</div>