<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  
</div>

<ul class="nav nav-pills" role="tablist">
  <li [ngClass]="{'active': selectedItem == 'user'}" (click)="listClick('user')">
    <a routerLink="user">User Management</a>
  </li>
  <li [ngClass]="{'active': selectedItem == 'product'}" (click)="listClick('product')">
    <a routerLink="product">Product Management</a>
  </li>
  <li [ngClass]="{'active': selectedItem == 'order'}" (click)="listClick('order')">
    <a routerLink="order">Order Management</a>
  </li>
  <li [ngClass]="{'active': selectedItem == 'post'}" (click)="listClick('post')">
    <a routerLink="post">Post Management</a>
  </li>
  <li [ngClass]="{'active': selectedItem == 'changepassword'}" (click)="listClick('changepassword')">
    <a routerLink="changepassword">Change Password</a>
  </li>
</ul>



<router-outlet></router-outlet>
