<form >
<mat-tab-group dynamicHeight [selectedIndex]="selectedIndex">
  <mat-tab label="Order Details">
   <div class="clearfix"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <label class="control-label col-sm-2" for="orderid">Order ID:</label>
              <div class="col-md-6">
                <input type="text" class="form-control" id="orderid" placeholder="Enter Order ID">
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="row">
              <label class="control-label col-sm-2" for="orderamount">Order Amount:</label>
              <div class="col-md-6">
                <input type="text" class="form-control" id="orderamount" placeholder="Enter Order Amount">
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="row">        
              <div class="col-sm-offset-2 col-sm-6">
                <button type="submit" class="btn btn-primary nexttab" (click)="clickMe(1)">Next</button>&nbsp;&nbsp;
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Billing Address">
     <div class="clearfix"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <label class="control-label col-sm-2" for="name">Customer Name:</label>
              <div class="col-md-6">
                <input type="text" class="form-control" id="name" placeholder="Enter Customer name">
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="row">
              <label class="control-label col-sm-2" for="billing_address">Billing Address:</label>
              <div class="col-md-6">
                <input type="text" class="form-control" id="billing_address" placeholder="Enter Billing Address">
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="row">
              <label class="control-label col-sm-2" for="phone_number">Phone Number:</label>
              <div class="col-md-6">
                <input type="text" class="form-control" id="phone_number" placeholder="Enter Phone Number">
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="row">        
              <div class="col-sm-offset-2 col-sm-6">
                <button type="submit" class="btn btn-primary" (click)="clickMe(2)">Next</button>&nbsp;&nbsp;
                <button type="button" class="btn btn-info" (click)="clickMe(0)">Back</button>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
       </div>
    </mat-tab>
    <mat-tab label="Shipping Address">
     <div class="clearfix"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <label class="control-label col-sm-2" for="shipping_name">Name:</label>
              <div class="col-md-6">
                <input type="text" class="form-control" id="shipping_name" placeholder="Enter Name">
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="row">
              <label class="control-label col-sm-2" for="shipping_address">Shipping Address:</label>
              <div class="col-md-6">
                <input type="text" class="form-control" id="shipping_address" placeholder="Enter Shipping Address">
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="row">
              <label class="control-label col-sm-2" for="mobile_number">Mobile Number:</label>
              <div class="col-md-6">
                <input type="text" class="form-control" id="mobile_number" placeholder="Enter Mobile Number">
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="row">        
              <div class="col-sm-offset-2 col-sm-6">
                <button type="submit" class="btn btn-primary">Submit</button>&nbsp;&nbsp;
                <button type="button" class="btn btn-info" (click)="clickMe(1)">Back</button>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
</mat-tab-group>
</form>

