<div class="container">
  <h2>List Of Products</h2> <!-- 
  <p>The .table-bordered class adds borders to a table:</p>    --> 
  <a class="btn btn-primary" routerLink="addproduct" style="color:white;text-decoration:none;">Add Product</a>
  <p></p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Product Unique Id</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Abc</td>
        <td>123</td>
        <td>Active</td>
      </tr>
      <tr>
        <td>Xyz</td>
        <td>345</td>
        <td>Active</td>
      </tr>
      <tr>
        <td>Uvw</td>
        <td>567</td>
        <td>Active</td>
      </tr>
    </tbody>
  </table>
</div>
